services:
  db:
    image: postgres:16-alpine
    container_name: blog-db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - blog_data:/var/lib/postgresql/data   # ← ВОТ ТУТ!

  web:
    build: .
    container_name: myblog
    restart: unless-stopped
    ports:
      - "${SERVER_PORT}:${APP_PORT}"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

volumes:
  blog_data: