<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}} — {{.SiteTitle}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>
<body class="bg-gray-100 min-h-screen">
  <header class="bg-white shadow-sm border-b sticky top-0 z-10">
  <div class="max-w-4xl mx-auto px-6 py-4 flex justify-between items-center">
    <h1 class="text-3xl font-bold text-gray-900">
      <a href="/" class="hover:text-blue-600 transition">{{.SiteTitle}}</a>
    </h1>

    <div class="flex items-center gap-6">
      {{if .IsAdmin}}
        <a href="/new" class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-lg font-medium transition shadow-md">
          + New post
        </a>
        <form action="/logout" method="POST" class="inline">
          <button type="submit" class="border-2 border-red-600 text-red-600 hover:bg-red-50 px-5 py-2.5 rounded-lg font-medium transition hover:shadow-md">
            Exit
          </button>
        </form>
      {{else}}
      {{end}}
    </div>
  </div>
</header>

  <article class="max-w-4xl mx-auto px-6 py-12 bg-white rounded-xl shadow-lg">
    <h1 class="text-4xl font-bold mb-6">{{.Title}}</h1>
    <time class="text-gray-500 block mb-10">
      {{.CreatedAt.Format "02 January 2006 in 15:04"}}
    </time>
    <div class="prose prose-lg max-w-none">
      {{.HTML}}
    </div>
    <div class="mt-12">
      <a href="/" class="text-blue-600 hover:underline text-lg">← To home</a>
    </div>
        <div class="mt-12 pt-8 border-t flex gap-6">
          {{if .IsAdmin}}
            <a href="/edit/{{.ID}}" class="text-blue-600 hover:underline text-lg">Edit</a>
            <a href="/delete/{{.ID}}" class="text-red-600 hover:underline text-lg">Delete</a>
          {{end}}
    </div>
  </article>
</body>
</html>